<!-- <%= video_tag("video", :autoplay, :width =>"1000px") %>-->
<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      
      <h1>さあ、準備運動はじめよう</h1>
      <p>スポーツ仲間マッチングサービス " Sponge(スポンジ）"</p>
    </div>
  </div>
</div>