<%= form_for(current_user.following_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= button_tag( class: "btn btn-primary btn-sm") do %>
    <%= content_tag :span, "　フォロー　", class: "glyphicon glyphicon-plus" %>
<% end %>
<% end %>