.cover {
  width: 100%;
  height: 480px;

  background-size: cover;
  .cover-inner {
    width: 1200px;
    height: 80%;
    margin: auto;
    display: table;
    .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 0 20px 0;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.15em;
        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
      }
      p {
        color: #fff;
      }
    }
  }
}
