.container-back{
  background-color: #F0F4EF;
}
.event-box {
  width: 272px;
  margin: 5px;
  float: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  .image {
    width: 272px;
    height: 270px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 272px;
      height: 270px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 250px;
      }
    }
  }
  .detail1 {
    height: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fafafa;
    font-size: 13px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .title {
      font-size: 18px;
      margin: 0;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
    .detail2 {
    height: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fafafa;
    font-size: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .schedule {
      margin-left: 2px;
    }
    .tag {
      margin-top: 2px;
      margin-left: 2px;
    }
  }
  .action {
    form {
      float: left;
      margin: 0 3px 0 0;
    }
  }
  &:hover {
    .action {
      display: block;
    }
  }
}
.event-single-main {
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  float: left;
  .image {
    width: 600px;
    height: 420px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 600px;
      height: 420px;
      padding: 0;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      .title {
        color: #06AED5;
        h1 {
          font-size:1.5em;
        }
      img {
        max-height: 380px;
      }
    }
  }
}
  
  .schedule {
    width: 100%;
    padding: 15px 30px;
    text-align: left;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    .favorite{
    text-align: right;
    }

  }
  &:hover {
    .action {
      display: block;
    }
  }
}

.action {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  .btn {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .btn-sm {
    margin: 0 5px 0 0;
  }
  .want {
    &:before {
      content: "Want";
    }
  }
  .have {
    &:before {
      content: "Have";
    }
  }
  .wanted {
    background-color: #5cb85c;
    border-color: darken(#5cb85c, 5%);
    &:before {
      content: "Want it";
    }
  }
  .haved {
    background-color: #5cb85c;
    border-color: darken(#5cb85c, 5%);
    &:before {
      content: "Have it";
    }
  }
}
.event-single-middle {
  width: 600px;
  margin: 10px auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  float: left;
  .dayt {
    width: 600px;
    height: 600px;
    padding: 6px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 600px;
      height: 600px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 380px;
      }
    }
  }
}
.event-single-side {
  width: 340px;
  float: right;
  .side-box {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    .button_wrapper{
     text-align:center;
     padding:10px;
    }
    .side-box-title {
      margin: 0;
      padding: 10px 15px;
      font-weight: normal;
      background: #fafafa;
      border: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .side-box-body {
      padding: 15px;
      .gravatar {
        img {
          margin: 2px;
        }
      }
    }
  }
}
